<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Admin</h1>
    {% if user_name == "kanjicool" %}
    <h1> Welcome Admin ! </h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/abount">abount</a></li>
        <li><a href="admin">admin</a></li>
    </ul>
    <img src="../static/sigma_cat.png" alt="" srcset="">
    {% else %}
    <h1>You are not Admin !!!</h1>
    <h1>Please return to the <a href="/">Home</a> page.</h1>

    {% endif %}


</body>

</html>