<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rangers</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{url_for('core.static', filename='style.css')}}">
</head>

<body>
    <div class="container grid-md" id="wrapper">
        <header class="navbar pt-2 mt-2">
            <section class="navbar-section">
                <a href="/" class="navbar-brand mr-2">
                    <strong>Rangers</strong>
                </a>
                <a href="/" class="btn btn-link">Home</a>
                <a href="/" class="btn btn-link">Shop</a>
                <a href="#" class="btn btn-link">Cart</a>
            </section>
            <section class="navbar-section">
                <form action="#">
                    <div class="input-group input-inline">
                        <input class="form-input" type="text" name="query" placeholder="Search...">
                        <button class="btn btn-primary input-group-btn">
                            <i class="icon icon-search"></i>
                        </button>
                    </div>
                </form>
            </section>
        </header>
        <div class="page-transition">
            <main>

            </main>
            <footer>
                <div class="empty">
                    <p class="empty-subtitle">@kanjicool</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
</body>

</html>